<nav class="#bdbdbd grey lighten-1">
  <div class="nav-wrapper">
    <a class="brand-logo">Time Viewer</a>
    <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
              <%= content_tag :i, "exit_to_app", class: "material-icons right" %> ログアウト
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_session_path do %>
              <%= content_tag :i, "assignment_turned_in", class: "material-icons right" %> ログイン
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
              <%= content_tag :i, "assignment_late", class: "material-icons right" %> ユーザー登録
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<style>
.brand-logo{
  margin-left: 50%;
}
</style>