<%= render partial: "template/page_top"%>
<div id="top-row">
  <div class="row">
    <div class="col s8 m8 l8 offset-l2">

      <h2>ユーザー登録</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>


      <div class="input-field">
        <i class="material-icons prefix">perm_identity</i>
        <%= f.text_field :name, autofocus: true, id: "icon_prefix0", class: "materialize-textarea" %>
        <label for="icon_prefix0">name</label>
      </div>


      <div class="input-field">
        <i class="material-icons prefix">local_post_office</i>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "icon_prefix1", class: "materialize-textarea" %>
        <label for="icon_prefix1">email</label>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">lock_outline</i>
        <%= f.password_field :password, autocomplete: "new-password", id: "icon_prefix2", class: "materialize-textarea" %>
        <label for="icon_prefix2">password
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %></label>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">lock_outline</i>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "icon_prefix3", class: "materialize-textarea"  %>
        <label for="icon_prefix3">password confirmation</label>
      </div>

      <div class="row">
        <div class="col s12 offset-1 actions">
          <%= f.submit "登録", class: "btn-large" %>
        </div>
      </div>
      <% end %>

      <!--<%= render "devise/shared/links" %>-->

    </div>
  </div>
</div>