<%= render partial: "template/page_top_main",  locals: {guide_message: "タスク画面"}%>

<div class="row">

  <div class="col s3" id="side">
    <%= render partial: "template/side_navi-task" %>
  </div>
  <div class="col s9">

    <div class='row'>
      <div class="follower-area col s12 l12">
  <div class="time-list">
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>名前</th>
              <th>ステータス</th>
              <th>推定時間</th>
              <th>取り組み時間</th>
              <th>進捗率</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <% @task_result_time_list.each do |task, value| %>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.done_task_flg == 0 ? "取り組み中" : "完了" %></td>
              <td><%= task.estimated_time.blank? ? "X" : task.estimated_time %>時間</td>
              <td><%= value %>時間</td>
              <td><%= task.estimated_time.blank? ? "X" : ((value / task.estimated_time) * 100).round(3) %>%</td>

              <td>
                <%= form_with url: task_path(current_user.id), method: 'PATCH' , local: true do |form| %>
                <%= form.hidden_field :task_id, placeholder: "id", value: task.id %>
                <%= form.submit task.done_task_flg == 0 ? "完了にする" : "取り組み中にする", class: "btn"%>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>

        </table>
  </div>

      </div>
    </div>
  </div>

</div>


<!-- Modal Structure -->
<div id="modal4" class="modal">
  <div class="modal-content">
    <div class="color-area col s12 l12">

      <!--own_timeの追加ここから-->
      <div class="user-icon-area col s10 l10">
        <div class="card-panel">
          <p>時間種類の追加</p>

          <!--<div>
                第一分類（緊急：高　重要：高）
                <% @select_time1.each do |select_time| %>
                <%= select_time.name %>
                <% end %>
              </div>

              <div>
                第二分類（緊急：低　重要：高）
                <% @select_time2.each do |select_time| %>
                <%= select_time.name %>
                <% end %>
              </div>

              <div>
                第三分類（緊急：高　重要：低）
                <% @select_time3.each do |select_time| %>
                <%= select_time.name %>
                <% end %>
              </div>

              <div>
                第四分類（緊急：低　重要：低）
                <% @select_time4.each do |select_time| %>
                <%= select_time.name %>
                <% end %>
              </div>
              -->


          <%= form_with url: own_times_path, local: true do |form|  %>
          <div class="">
            <%= form.text_field :name, placeholder: "name", autocomplete: "off" %>
            <%= form.select :time_type, 
                [["第一分類（緊急：高　重要：高）", 1], 
                ["第二分類（緊急：低　重要：高）", 2], 
                ["第三分類（緊急：高　重要：低）", 3], 
                ["第四分類（緊急：低　重要：低）", 5]], 
                include_blank: "分類を選択して下さい" %>
            <!--
                <%= form.select :shareFlg, [["共有する(他の人と共有し比較ができます)", 0], ["共有しない(共有しない秘密の時間です)", 1]] %>
                <%= form.select :publicLevel, [["公開(他の人からの閲覧を許可)", 0], ["非公開(他の人から閲覧できません)", 1]] %>
                <%= form.select :task_flg, [["習慣", 0], ["タスク(期限あり、進捗管理ができます)", 1]] %>
                -->
            <%= form.text_field :estimated_time, placeholder: "見積もり時間（h）" %>
          </div>

          <div>
            <%= form.submit "登録する", class: "btn"%>
          </div>
          <% end %>
        </div>
        <!--own_timeの追加ここまで-->
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">閉じる</a>
  </div>
</div>