<% @doing_task_result_time_list.each do |task, value| %>
  取り組み中 / <%= task.name %> / 推定時間<%= task.estimated_time %>時間 / 取り組んだ時間<%= value %>時間 / 進捗<%= (value / task.estimated_time).round(3) * 100 %>%
  <%= form_with url: task_path(current_user.id), method: 'PATCH' , local: true do |form| %>
    <%= form.hidden_field :task_id, placeholder: "id", value: task.id %>
    <%= form.submit "完了", class: "submit_button"%><br><br>
  <% end %>
<% end %>

<% @done_task_result_time_list.each do |task, value| %>
  完了 / <%= task.name %> / 推定時間<%= task.estimated_time %>時間 / 実績時間<%= value %>時間 / 乖離率(%) <%= (value - task.estimated_time) / task.estimated_time * 100 %>
<% end %>

<%= link_to user_path(current_user.id) do %>
  <button id = "" , class: "btn btn-primary">入力画面に戻る</button>
<% end %>

