<%= render partial: "template/page_top_main",  locals: {guide_message: "タスク画面"}%>

<div class='row'>
  <div class="doing-task-area col s8 l8">
    <div class="card-panel">

      <table class="highlight centered responsive-table">
        <thead>
          <tr>
            <th>ステータス</th>
            <th>名前</th>
            <th>推定時間</th>
            <th>取り組み時間</th>
            <th>進捗率</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @task_result_time_list.each do |task, value| %>
          <tr>
            <td><%= task.done_task_flg == 0 ? "取り組み中" : "完了" %></td>
            <td><%= task.name %></td>
            <td><%= task.estimated_time %>時間</td>
            <td><%= value %>時間</td>
            <td><%= (value / task.estimated_time).round(3) * 100 %>%</td>

            <td>
              <%= form_with url: task_path(current_user.id), method: 'PATCH' , local: true do |form| %>
              <%= form.hidden_field :task_id, placeholder: "id", value: task.id %>
              <%= form.submit task.done_task_flg == 0 ? "完了にする" : "取り組み中にする", class: "btn"%>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
