<%= render partial: "template/page_top"%>

<div class="row">
  <div class="col s12 m8 l8 offset-l2">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">入力ログ</span>
        <% @tweets.each do |tweet| %>
        <p>
          <% if tweet.user.icon.attached? %>
          <%= image_tag tweet.user.icon, height: 30, width: 30 %>
          <% else %>
          <%= image_tag "icon/icon.jpg", height: 30, width: 30 %>
          <% end %>
          <%= tweet.user.name %>さんが <%= tweet.record_date %> <%= tweet.text %>の入力を行いました。<%= tweet.created_at %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s12 m8 l8 offset-l2">
    <div class="card blue-grey darken-1">
      <% if user_signed_in? %>
      <p>ユーザー一覧
      <p>
        <% @users.each do |user| %>
      <p><a href="/users/<%= user.id %>"><%= user.name %>さん</a></p>
      <hr>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
