<%
=begin%>
 TODO: ホバー したときのカーソル ホバー したときのブロックのエフェクト　同じ色を選択した場合キャンセルできる　リセットボタンでクラスと色を取り除く
<%
=end%>
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>

  <style>
  #feedback { font-size: 1em; }
  /* #selectable .ui-selecting { background: #FECA40; } */
  /* #selectable .ui-selected { background: #F39814; color: white; } */
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 10%; display: flex}
  #selectable li { margin: 0px; padding: 0.1em; font-size: 0.6em; font-weight: bold; height: 150px; width: 15%; text-align: center; writing-mode: vertical-rl; cursor: default;}
  /* .ui-widget-content { height: 0.1px} */
  </style>
  <script>
    // function setTime(id, type){
    //   var time_id = 'time_' + id
    //   //色をつける
    //   var draw_color = [ 'red', 'blue', 'green', 'yellow', 'gray'][type];
    //   $( ".ui-selected", this ).css('background-color', draw_color);
    //   //time_idクラスを削除する
    //   $( ".ui-selected", this ).removeClass(function(index, className) {
    //     return (className.match(/\btime_\S+/g) || []).join(' ');
    //   });

    //   $( ".ui-selected", this ).addClass(time_id);
    // }
    var setColor = function(type){
      var draw_color = [ 'red', 'blue', 'green', 'yellow', 'gray'][type];
      return draw_color;
    }
    var setId = function(id){
      var time_id = 'time_' + id;
      return time_id;
      //$( ".ui-selected", this ).addClass(time_id);
    }
  </script>
  <script>
  var color = 0;
  var own_time_id = 2;

  $(function() {

    $( "#selectable" ).selectable({
      stop: function() {

        //ここで選択箇所の色を上書き、他を選択しても消えないようにする
        //TODO:重要度×緊急度のマトリクスの説明
        //選択項目と同じ要領で合計時間を直後に右側に表示
        //TODO:メソッド切り出しで処理を共通化 javascriptファイルに処理を持っていく
      $( ".ui-selected", this ).css('background-color',setColor(color));
      $( ".ui-selected", this ).removeClass(function(index, className) {
          return (className.match(/\btime_\S+/g) || []).join(' ');
      });
      $( ".ui-selected", this ).addClass(setId( own_time_id ));

      var result_show = $( "#result-show" ).empty();
      var red_count = 0;
      var blue_count = 0;
      var green_count = 0;
      var yellow_count = 0;
      var grey_count = 0;
      $(".ui-selectee").each(function(index, value){
        if($(value).attr("class").includes("time_1")){
          red_count = red_count + 1;
          $(".red_record").val(red_count/4);
          }
        else if ($(value).attr("class").includes("time_2")){
          blue_count = blue_count + 1;
          $(".blue_record").val(blue_count/4);
          }
        else if ($(value).attr("class").includes("time_3")){
          green_count = green_count + 1;
          $(".green_record").val(green_count/4);
          }
        else if ($(value).attr("class").includes("time_4")){
          yellow_count = yellow_count + 1;
          $(".yellow_record").val(yellow_count/4);
          }
        else if ($(value).attr("class").includes("time_5")){
          grey_count = grey_count + 1;
          $(".grey_record").val(grey_count/4);
          }
        })
        result_show.append( "red:"+ red_count + "blue:" + blue_count + "green:" + green_count + "yellow:" + yellow_count + "grey" + grey_count);
        console.log('選択終了')

        var result_show = $( "#result-show" ).empty();
        var red_count = 0;
        var blue_count = 0;
        var green_count = 0;
        var yellow_count = 0;
        var grey_count = 0;
        $(".ui-selectee").each(function(index, value){
          if($(value).attr("class").includes("time_1")){
            red_count = red_count + 1;
            $(".red_record").val(red_count/4);
            }
          else if ($(value).attr("class").includes("time_2")){
            blue_count = blue_count + 1;
            $(".blue_record").val(blue_count/4);
            }
          else if ($(value).attr("class").includes("time_3")){
            green_count = green_count + 1;
            $(".green_record").val(green_count/4);
            }
          else if ($(value).attr("class").includes("time_4")){
            yellow_count = yellow_count + 1;
            $(".yellow_record").val(yellow_count/4);
            }
          else if ($(value).attr("class").includes("time_5")){
            grey_count = grey_count + 1;
            $(".grey_record").val(grey_count/4);
            }
          })
          result_show.append( "red:"+ red_count + "blue:" + blue_count + "green:" + green_count + "yellow:" + yellow_count + "grey" + grey_count);
        //ここまで/////////////////////////////////

        var result = $( "#select-result" ).empty();
        $( ".ui-selected", this ).each(function() {
          var index = $( "#selectable li" ).index( this );
          result.append( " #" + ( index + 1 ) );
          var block_id = "#block_" + index;
          var class_name = $( ".ui-selected" ).attr('class');
          var time_id = class_name.match(/\btime_\S+/g).toString().substr(-1);
          $( block_id ).val(time_id);
        });

        //TODO:同じ要領でown_timeのnameごとに時間を表示
        //
        //inputフォームに入力されたown_time_idをカウントする
        var time_array = Array(gon.own_time_count); //配列の長さを確定(idの数だけ確保)
        time_array.fill(0); //0で初期化
        $("[id^=block_]").each(function(index, element){
          console.log($(element).val());
          var time_id = $(element).val();
          time_array[time_id] += 1; //idと一致する要素のカウントを+1
        })
        console.log("結果:" +  time_array) //結果を表示する
        $('#time-show').empty();
        $.each(time_array,function(index,val){
          //0なら次のループへ
          if(val == 0){
            //continue;
            return;
          }
          //15分ブロックの数から時間に変換
          var hour = Math.floor(val / 4);
          var minutes = (val % 4 == 0) ? "00" : val % 4 * 15; //参考演算子 0なら"00"とする
          var show_time = hour + ":" + minutes;
          console.log(show_time);
          $('#time-show').append(gon.own_time_list[index] + ":" + show_time + " ")
        });
      }
    });

    $('#reset').on("click", function(){
      $( ".ui-selectee").css('background-color','#fff');
      $( ".ui-selectee").removeClass(function(index, className) {
          return (className.match(/\btime_\S+/g) || []).join(' ');
      });
      $( '[id^="block_"]' ).val('');
    });

    $('#red').on("click", function(){
      color = "0";
      var val = $('#own_time_select_time_1').val();
      own_time_id = val;
      alert(val);
      //alert(color);
    });
    $('#blue').on("click", function(){
      color = "1";
      var val = $('#own_time_select_time_2').val();
      own_time_id = val;
      alert(val);
      //alert(color);
    });
    $('#green').on("click", function(){
      color = "2";
      var val = $('#own_time_select_time_3').val();
      own_time_id = val;
      alert(val);
      //alert(color);
    });
    $('#yellow').on("click", function(){
      color = "3";
      var val = $('#own_time_select_time_4').val();
      own_time_id = val;
      alert(val);
      //alert(color);
    });
    $('#grey').on("click", function(){
      color = "4";
      own_time_id = 1;
      alert(own_time_id);
      //alert(color);
    });
  });
  </script>
  <script>
  $( function() {
    $( ".ui-widget-content" ).tooltip({
      show: false,
      hide: false,
      position: {
        my: 'left', at: 'top', collision: 'none'
      },
    });
  });
  </script>
</head>
<body>


<% @result_times_hash.each do |result_time| %>
  <%= result_time%>
<% end %>

<div id = "day-show"></div>
<%= @date %>
<body>
<ol id="selectable">
  <li class="ui-widget-content 0500" title="5:00">05:00</li>
  <li class="ui-widget-content 0515" title="5:15">05:15</li>
  <li class="ui-widget-content 0530" title="5:30">05:30</li>
  <li class="ui-widget-content 0545" title="5:45">05:45</li>
  <li class="ui-widget-content 0600" title="6:00">06:00</li>
  <li class="ui-widget-content 0615" title="6:15">06:15</li>
  <li class="ui-widget-content 0630" title="6:30">06:30</li>
  <li class="ui-widget-content 0645" title="6:45">06:45</li>
  <li class="ui-widget-content 0700" title="7:00">07:00</li>
  <li class="ui-widget-content 0715" title="7:15">07:15</li>
  <li class="ui-widget-content 0730" title="7:30">07:30</li>
  <li class="ui-widget-content 0745" title="7:45">07:45</li>
  <li class="ui-widget-content 0800" title="8:00">08:00</li>
  <li class="ui-widget-content 0815" title="8:15">08:15</li>
  <li class="ui-widget-content 0830" title="8:30">08:30</li>
  <li class="ui-widget-content 0845" title="8:45">08:45</li>
  <li class="ui-widget-content 0900" title="9:00">09:00</li>
  <li class="ui-widget-content 0915" title="9:15">09:15</li>
  <li class="ui-widget-content 0930" title="9:30">09:30</li>
  <li class="ui-widget-content 0945" title="9:45">09:45</li>
  <li class="ui-widget-content 1000" title="10:00">10:00</li>
  <li class="ui-widget-content 1015" title="10:15">10:15</li>
  <li class="ui-widget-content 1030" title="10:30">10:30</li>
  <li class="ui-widget-content 1045" title="10:45">10:45</li>
  <li class="ui-widget-content 1100" title="11:00">11:00</li>
  <li class="ui-widget-content 1115" title="11:15">11:15</li>
  <li class="ui-widget-content 1130" title="11:30">11:30</li>
  <li class="ui-widget-content 1145" title="11:45">11:45</li>
  <li class="ui-widget-content 1200" title="12:00">12:00</li>
  <li class="ui-widget-content 1215" title="12:15">12:15</li>
  <li class="ui-widget-content 1230" title="12:30">12:30</li>
  <li class="ui-widget-content 1245" title="12:45">12:45</li>
  <li class="ui-widget-content 1300" title="13:00">13:00</li>
  <li class="ui-widget-content 1315" title="13:15">13:15</li>
  <li class="ui-widget-content 1330" title="13:30">13:30</li>
  <li class="ui-widget-content 1345" title="13:45">13:45</li>
  <li class="ui-widget-content 1400" title="14:00">14:00</li>
  <li class="ui-widget-content 1415" title="14:15">14:15</li>
  <li class="ui-widget-content 1430" title="14:30">14:30</li>
  <li class="ui-widget-content 1445" title="14:45">14:45</li>
  <li class="ui-widget-content 1500" title="15:00">15:00</li>
  <li class="ui-widget-content 1515" title="15:15">15:15</li>
  <li class="ui-widget-content 1530" title="15:30">15:30</li>
  <li class="ui-widget-content 1545" title="15:45">15:45</li>
  <li class="ui-widget-content 1600" title="16:00">16:00</li>
  <li class="ui-widget-content 1615" title="16:15">16:15</li>
  <li class="ui-widget-content 1630" title="16:30">16:30</li>
  <li class="ui-widget-content 1645" title="16:45">16:45</li>
  <li class="ui-widget-content 1700" title="17:00">17:00</li>
  <li class="ui-widget-content 1715" title="17:15">17:15</li>
  <li class="ui-widget-content 1730" title="17:30">17:30</li>
  <li class="ui-widget-content 1745" title="17:45">17:45</li>
  <li class="ui-widget-content 1800" title="18:00">18:00</li>
  <li class="ui-widget-content 1815" title="18:15">18:15</li>
  <li class="ui-widget-content 1830" title="18:30">18:30</li>
  <li class="ui-widget-content 1845" title="18:45">18:45</li>
  <li class="ui-widget-content 1900" title="19:00">19:00</li>
  <li class="ui-widget-content 1915" title="19:15">19:15</li>
  <li class="ui-widget-content 1930" title="19:30">19:30</li>
  <li class="ui-widget-content 1945" title="19:45">19:45</li>
  <li class="ui-widget-content 2000" title="20:00">20:00</li>
  <li class="ui-widget-content 2015" title="20:15">20:15</li>
  <li class="ui-widget-content 2030" title="20:30">20:30</li>
  <li class="ui-widget-content 2045" title="20:45">20:45</li>
  <li class="ui-widget-content 2100" title="21:00">21:00</li>
  <li class="ui-widget-content 2115" title="21:15">21:15</li>
  <li class="ui-widget-content 2130" title="21:30">21:30</li>
  <li class="ui-widget-content 2145" title="21:45">21:45</li>
  <li class="ui-widget-content 2200" title="22:00">22:00</li>
  <li class="ui-widget-content 2215" title="22:15">22:15</li>
  <li class="ui-widget-content 2230" title="22:30">22:30</li>
  <li class="ui-widget-content 2245" title="22:45">22:45</li>
  <li class="ui-widget-content 2300" title="23:00">23:00</li>
  <li class="ui-widget-content 2315" title="23:15">23:15</li>
  <li class="ui-widget-content 2330" title="23:30">23:30</li>
  <li class="ui-widget-content 2345" title="23:45">23:45</li>
  <li class="ui-widget-content 2400" title="24:00">24:00</li>
  <li class="ui-widget-content 2415" title="24:15">24:15</li>
  <li class="ui-widget-content 2430" title="24:30">24:30</li>
  <li class="ui-widget-content 2445" title="24:45">24:45</li>
  <li class="ui-widget-content 0100" title="1:00">01:00</li>
  <li class="ui-widget-content 0115" title="1:15">01:15</li>
  <li class="ui-widget-content 0130" title="1:30">01:30</li>
  <li class="ui-widget-content 0145" title="1:45">01:45</li>
  <li class="ui-widget-content 0200" title="2:00">02:00</li>
  <li class="ui-widget-content 0215" title="2:15">02:15</li>
  <li class="ui-widget-content 0230" title="2:30">02:30</li>
  <li class="ui-widget-content 0245" title="2:45">02:45</li>
  <li class="ui-widget-content 0300" title="3:00">03:00</li>
  <li class="ui-widget-content 0315" title="3:15">03:15</li>
  <li class="ui-widget-content 0330" title="3:30">03:30</li>
  <li class="ui-widget-content 0345" title="3:45">03:45</li>
  <li class="ui-widget-content 0400" title="4:00">04:00</li>
  <li class="ui-widget-content 0415" title="4:15">04:15</li>
  <li class="ui-widget-content 0430" title="4:30">04:30</li>
  <li class="ui-widget-content 0445" title="4:45">04:45</li>
</ol>

<div id = "result-show"></div>
<div id = "time-show"></div>

<br>
<button id = "reset">リセット</button>

<button id = "red">赤</button>

<button id = "blue">青</button>

<button id = "green">緑</button>

<button id = "yellow">黄</button>

<button id = "grey">睡眠</button>

<div class="input_area">

 <%= form_with model: @own_time do |form|  %>
    <%
=begin%>
 <%= form.collection_select :origin_id, @all_select_time, :id, :name, {prompt: ""}, {class: ""}%> 
<%
=end%>
    <%= form.collection_select :select_time_0, @all_select_time, :id, :name %>
    <%= form.collection_select :select_time_1, @select_time1, :id, :name %>
    <%= form.collection_select :select_time_2, @select_time2, :id, :name %>
    <%= form.collection_select :select_time_3, @select_time3, :id, :name %>
    <%= form.collection_select :select_time_4, @select_time4, :id, :name %>

    <div class="">
      <%= form.text_field :name, placeholder: "name" %>
      <%= form.text_field :time_type, placeholder: "type" %>
      <%= form.text_field :shareFlg, placeholder: "shareFlg" %>
      <%= form.text_field :publicLevel, placeholder: "publicLevel" %>
    </div>

    <div >
      <%= form.submit "登録する", class: "submit_button"%>
    </div>
  <% end %>

  <%= link_to user_path(current_user.id, @date.to_date-1) do %>
    <button id = "previous" , class: "btn btn-primary"><</button>
  <% end %>

  <%= link_to user_path(current_user.id, @date.to_date+1) do %>
    <button id = "next" , class: "btn btn-primary">></button>
  <% end %>

  <%= form_with model: @result_time do |form|  %>
    <div class="">
      <%= form.text_field :record_date, value: @date, placeholder: "record_date" , id: :record_date %>
      <%= form.text_field :blocks, name: "block[][0]" , value: @result_times.find_by(block: 0).nil? ? "" : @result_times.where(block: 0).last.own_time_id, id: :block_1 %>
      <%= form.text_field :blocks, name: "block[][1]" , value: @result_times.find_by(block: 1).nil? ? "" : @result_times.find_by(block: 1).own_time_id, id: :block_1 %>
      <%= form.text_field :blocks, name: "block[][2]" , value: @result_times.find_by(block: 2).nil? ? "" : @result_times.find_by(block: 2).own_time_id, id: :block_2 %>
      <%= form.text_field :blocks, name: "block[][3]" , value: @result_times.find_by(block: 3).nil? ? "" : @result_times.find_by(block: 3).own_time_id, id: :block_3 %>
      <%= form.text_field :blocks, name: "block[][4]" , value: @result_times.find_by(block: 4).nil? ? "" : @result_times.find_by(block: 4).own_time_id, id: :block_4 %>
      <%= form.text_field :blocks, name: "block[][5]" , value: @result_times.find_by(block: 5).nil? ? "" : @result_times.find_by(block: 5).own_time_id, id: :block_5 %>
      <%= form.text_field :blocks, name: "block[][6]" , value: @result_times.find_by(block: 6).nil? ? "" : @result_times.find_by(block: 6).own_time_id, id: :block_6 %>
      <%= form.text_field :blocks, name: "block[][7]" , value: @result_times.find_by(block: 7).nil? ? "" : @result_times.find_by(block: 7).own_time_id, id: :block_7 %>
      <%= form.text_field :blocks, name: "block[][8]" , value: @result_times.find_by(block: 8).nil? ? "" : @result_times.find_by(block: 8).own_time_id, id: :block_8 %>
      <%= form.text_field :blocks, name: "block[][9]" , value: @result_times.find_by(block: 9).nil? ? "" : @result_times.find_by(block: 9).own_time_id, id: :block_9 %>
      <%= form.text_field :blocks, name: "block[][10]" , value: @result_times.find_by(block: 10).nil? ? "" : @result_times.find_by(block: 10).own_time_id, id: :block_10 %>
      <%= form.text_field :blocks, name: "block[][11]" , value: @result_times.find_by(block: 11).nil? ? "" : @result_times.find_by(block: 11).own_time_id, id: :block_11 %>
      <%= form.text_field :blocks, name: "block[][12]" , value: @result_times.find_by(block: 12).nil? ? "" : @result_times.find_by(block: 12).own_time_id, id: :block_12 %>
      <%= form.text_field :blocks, name: "block[][13]" , value: @result_times.find_by(block: 13).nil? ? "" : @result_times.find_by(block: 13).own_time_id, id: :block_13 %>
      <%= form.text_field :blocks, name: "block[][14]" , value: @result_times.find_by(block: 14).nil? ? "" : @result_times.find_by(block: 14).own_time_id, id: :block_14 %>
      <%= form.text_field :blocks, name: "block[][15]" , value: @result_times.find_by(block: 15).nil? ? "" : @result_times.find_by(block: 15).own_time_id, id: :block_15 %>
      <%= form.text_field :blocks, name: "block[][16]" , value: @result_times.find_by(block: 16).nil? ? "" : @result_times.find_by(block: 16).own_time_id, id: :block_16 %>
      <%= form.text_field :blocks, name: "block[][17]" , value: @result_times.find_by(block: 17).nil? ? "" : @result_times.find_by(block: 17).own_time_id, id: :block_17 %>
      <%= form.text_field :blocks, name: "block[][18]" , value: @result_times.find_by(block: 18).nil? ? "" : @result_times.find_by(block: 18).own_time_id, id: :block_18 %>
      <%= form.text_field :blocks, name: "block[][19]" , value: @result_times.find_by(block: 19).nil? ? "" : @result_times.find_by(block: 19).own_time_id, id: :block_19 %>
      <%= form.text_field :blocks, name: "block[][20]" , value: @result_times.find_by(block: 20).nil? ? "" : @result_times.find_by(block: 20).own_time_id, id: :block_20 %>
      <%= form.text_field :blocks, name: "block[][21]" , value: @result_times.find_by(block: 21).nil? ? "" : @result_times.find_by(block: 21).own_time_id, id: :block_21 %>
      <%= form.text_field :blocks, name: "block[][22]" , value: @result_times.find_by(block: 22).nil? ? "" : @result_times.find_by(block: 22).own_time_id, id: :block_22 %>
      <%= form.text_field :blocks, name: "block[][23]" , value: @result_times.find_by(block: 23).nil? ? "" : @result_times.find_by(block: 23).own_time_id, id: :block_23 %>
      <%= form.text_field :blocks, name: "block[][24]" , value: @result_times.find_by(block: 24).nil? ? "" : @result_times.find_by(block: 24).own_time_id, id: :block_24 %>
      <%= form.text_field :blocks, name: "block[][25]" , value: @result_times.find_by(block: 25).nil? ? "" : @result_times.find_by(block: 25).own_time_id, id: :block_25 %>
      <%= form.text_field :blocks, name: "block[][26]" , value: @result_times.find_by(block: 26).nil? ? "" : @result_times.find_by(block: 26).own_time_id, id: :block_26 %>
      <%= form.text_field :blocks, name: "block[][27]" , value: @result_times.find_by(block: 27).nil? ? "" : @result_times.find_by(block: 27).own_time_id, id: :block_27 %>
      <%= form.text_field :blocks, name: "block[][28]" , value: @result_times.find_by(block: 28).nil? ? "" : @result_times.find_by(block: 28).own_time_id, id: :block_28 %>
      <%= form.text_field :blocks, name: "block[][29]" , value: @result_times.find_by(block: 29).nil? ? "" : @result_times.find_by(block: 29).own_time_id, id: :block_29 %>
      <%= form.text_field :blocks, name: "block[][30]" , value: @result_times.find_by(block: 30).nil? ? "" : @result_times.find_by(block: 30).own_time_id, id: :block_30 %>
      <%= form.text_field :blocks, name: "block[][31]" , value: @result_times.find_by(block: 31).nil? ? "" : @result_times.find_by(block: 31).own_time_id, id: :block_31 %>
      <%= form.text_field :blocks, name: "block[][32]" , value: @result_times.find_by(block: 32).nil? ? "" : @result_times.find_by(block: 32).own_time_id, id: :block_32 %>
      <%= form.text_field :blocks, name: "block[][33]" , value: @result_times.find_by(block: 33).nil? ? "" : @result_times.find_by(block: 33).own_time_id, id: :block_33 %>
      <%= form.text_field :blocks, name: "block[][34]" , value: @result_times.find_by(block: 34).nil? ? "" : @result_times.find_by(block: 34).own_time_id, id: :block_34 %>
      <%= form.text_field :blocks, name: "block[][35]" , value: @result_times.find_by(block: 35).nil? ? "" : @result_times.find_by(block: 35).own_time_id, id: :block_35 %>
      <%= form.text_field :blocks, name: "block[][36]" , value: @result_times.find_by(block: 36).nil? ? "" : @result_times.find_by(block: 36).own_time_id, id: :block_36 %>
      <%= form.text_field :blocks, name: "block[][37]" , value: @result_times.find_by(block: 37).nil? ? "" : @result_times.find_by(block: 37).own_time_id, id: :block_37 %>
      <%= form.text_field :blocks, name: "block[][38]" , value: @result_times.find_by(block: 38).nil? ? "" : @result_times.find_by(block: 38).own_time_id, id: :block_38 %>
      <%= form.text_field :blocks, name: "block[][39]" , value: @result_times.find_by(block: 39).nil? ? "" : @result_times.find_by(block: 39).own_time_id, id: :block_39 %>
      <%= form.text_field :blocks, name: "block[][40]" , value: @result_times.find_by(block: 40).nil? ? "" : @result_times.find_by(block: 40).own_time_id, id: :block_40 %>
      <%= form.text_field :blocks, name: "block[][41]" , value: @result_times.find_by(block: 41).nil? ? "" : @result_times.find_by(block: 41).own_time_id, id: :block_41 %>
      <%= form.text_field :blocks, name: "block[][42]" , value: @result_times.find_by(block: 42).nil? ? "" : @result_times.find_by(block: 42).own_time_id, id: :block_42 %>
      <%= form.text_field :blocks, name: "block[][43]" , value: @result_times.find_by(block: 43).nil? ? "" : @result_times.find_by(block: 43).own_time_id, id: :block_43 %>
      <%= form.text_field :blocks, name: "block[][44]" , value: @result_times.find_by(block: 44).nil? ? "" : @result_times.find_by(block: 44).own_time_id, id: :block_44 %>
      <%= form.text_field :blocks, name: "block[][45]" , value: @result_times.find_by(block: 45).nil? ? "" : @result_times.find_by(block: 45).own_time_id, id: :block_45 %>
      <%= form.text_field :blocks, name: "block[][46]" , value: @result_times.find_by(block: 46).nil? ? "" : @result_times.find_by(block: 46).own_time_id, id: :block_46 %>
      <%= form.text_field :blocks, name: "block[][47]" , value: @result_times.find_by(block: 47).nil? ? "" : @result_times.find_by(block: 47).own_time_id, id: :block_47 %>
      <%= form.text_field :blocks, name: "block[][48]" , value: @result_times.find_by(block: 48).nil? ? "" : @result_times.find_by(block: 48).own_time_id, id: :block_48 %>
      <%= form.text_field :blocks, name: "block[][49]" , value: @result_times.find_by(block: 49).nil? ? "" : @result_times.find_by(block: 49).own_time_id, id: :block_49 %>
      <%= form.text_field :blocks, name: "block[][50]" , value: @result_times.find_by(block: 50).nil? ? "" : @result_times.find_by(block: 50).own_time_id, id: :block_50 %>
      <%= form.text_field :blocks, name: "block[][51]" , value: @result_times.find_by(block: 51).nil? ? "" : @result_times.find_by(block: 51).own_time_id, id: :block_51 %>
      <%= form.text_field :blocks, name: "block[][52]" , value: @result_times.find_by(block: 52).nil? ? "" : @result_times.find_by(block: 52).own_time_id, id: :block_52 %>
      <%= form.text_field :blocks, name: "block[][53]" , value: @result_times.find_by(block: 53).nil? ? "" : @result_times.find_by(block: 53).own_time_id, id: :block_53 %>
      <%= form.text_field :blocks, name: "block[][54]" , value: @result_times.find_by(block: 54).nil? ? "" : @result_times.find_by(block: 54).own_time_id, id: :block_54 %>
      <%= form.text_field :blocks, name: "block[][55]" , value: @result_times.find_by(block: 55).nil? ? "" : @result_times.find_by(block: 55).own_time_id, id: :block_55 %>
      <%= form.text_field :blocks, name: "block[][56]" , value: @result_times.find_by(block: 56).nil? ? "" : @result_times.find_by(block: 56).own_time_id, id: :block_56 %>
      <%= form.text_field :blocks, name: "block[][57]" , value: @result_times.find_by(block: 57).nil? ? "" : @result_times.find_by(block: 57).own_time_id, id: :block_57 %>
      <%= form.text_field :blocks, name: "block[][58]" , value: @result_times.find_by(block: 58).nil? ? "" : @result_times.find_by(block: 58).own_time_id, id: :block_58 %>
      <%= form.text_field :blocks, name: "block[][59]" , value: @result_times.find_by(block: 59).nil? ? "" : @result_times.find_by(block: 59).own_time_id, id: :block_59 %>
      <%= form.text_field :blocks, name: "block[][60]" , value: @result_times.find_by(block: 60).nil? ? "" : @result_times.find_by(block: 60).own_time_id, id: :block_60 %>
      <%= form.text_field :blocks, name: "block[][61]" , value: @result_times.find_by(block: 61).nil? ? "" : @result_times.find_by(block: 61).own_time_id, id: :block_61 %>
      <%= form.text_field :blocks, name: "block[][62]" , value: @result_times.find_by(block: 62).nil? ? "" : @result_times.find_by(block: 62).own_time_id, id: :block_62 %>
      <%= form.text_field :blocks, name: "block[][63]" , value: @result_times.find_by(block: 63).nil? ? "" : @result_times.find_by(block: 63).own_time_id, id: :block_63 %>
      <%= form.text_field :blocks, name: "block[][64]" , value: @result_times.find_by(block: 64).nil? ? "" : @result_times.find_by(block: 64).own_time_id, id: :block_64 %>
      <%= form.text_field :blocks, name: "block[][65]" , value: @result_times.find_by(block: 65).nil? ? "" : @result_times.find_by(block: 65).own_time_id, id: :block_65 %>
      <%= form.text_field :blocks, name: "block[][66]" , value: @result_times.find_by(block: 66).nil? ? "" : @result_times.find_by(block: 66).own_time_id, id: :block_66 %>
      <%= form.text_field :blocks, name: "block[][67]" , value: @result_times.find_by(block: 67).nil? ? "" : @result_times.find_by(block: 67).own_time_id, id: :block_67 %>
      <%= form.text_field :blocks, name: "block[][68]" , value: @result_times.find_by(block: 68).nil? ? "" : @result_times.find_by(block: 68).own_time_id, id: :block_68 %>
      <%= form.text_field :blocks, name: "block[][69]" , value: @result_times.find_by(block: 69).nil? ? "" : @result_times.find_by(block: 69).own_time_id, id: :block_69 %>
      <%= form.text_field :blocks, name: "block[][70]" , value: @result_times.find_by(block: 70).nil? ? "" : @result_times.find_by(block: 70).own_time_id, id: :block_70 %>
      <%= form.text_field :blocks, name: "block[][71]" , value: @result_times.find_by(block: 71).nil? ? "" : @result_times.find_by(block: 71).own_time_id, id: :block_71 %>
      <%= form.text_field :blocks, name: "block[][72]" , value: @result_times.find_by(block: 72).nil? ? "" : @result_times.find_by(block: 72).own_time_id, id: :block_72 %>
      <%= form.text_field :blocks, name: "block[][73]" , value: @result_times.find_by(block: 73).nil? ? "" : @result_times.find_by(block: 73).own_time_id, id: :block_73 %>
      <%= form.text_field :blocks, name: "block[][74]" , value: @result_times.find_by(block: 74).nil? ? "" : @result_times.find_by(block: 74).own_time_id, id: :block_74 %>
      <%= form.text_field :blocks, name: "block[][75]" , value: @result_times.find_by(block: 75).nil? ? "" : @result_times.find_by(block: 75).own_time_id, id: :block_75 %>
      <%= form.text_field :blocks, name: "block[][76]" , value: @result_times.find_by(block: 76).nil? ? "" : @result_times.find_by(block: 76).own_time_id, id: :block_76 %>
      <%= form.text_field :blocks, name: "block[][77]" , value: @result_times.find_by(block: 77).nil? ? "" : @result_times.find_by(block: 77).own_time_id, id: :block_77 %>
      <%= form.text_field :blocks, name: "block[][78]" , value: @result_times.find_by(block: 78).nil? ? "" : @result_times.find_by(block: 78).own_time_id, id: :block_78 %>
      <%= form.text_field :blocks, name: "block[][79]" , value: @result_times.find_by(block: 79).nil? ? "" : @result_times.find_by(block: 79).own_time_id, id: :block_79 %>
      <%= form.text_field :blocks, name: "block[][80]" , value: @result_times.find_by(block: 80).nil? ? "" : @result_times.find_by(block: 80).own_time_id, id: :block_80 %>
      <%= form.text_field :blocks, name: "block[][81]" , value: @result_times.find_by(block: 81).nil? ? "" : @result_times.find_by(block: 81).own_time_id, id: :block_81 %>
      <%= form.text_field :blocks, name: "block[][82]" , value: @result_times.find_by(block: 82).nil? ? "" : @result_times.find_by(block: 82).own_time_id, id: :block_82 %>
      <%= form.text_field :blocks, name: "block[][83]" , value: @result_times.find_by(block: 83).nil? ? "" : @result_times.find_by(block: 83).own_time_id, id: :block_83 %>
      <%= form.text_field :blocks, name: "block[][84]" , value: @result_times.find_by(block: 84).nil? ? "" : @result_times.find_by(block: 84).own_time_id, id: :block_84 %>
      <%= form.text_field :blocks, name: "block[][85]" , value: @result_times.find_by(block: 85).nil? ? "" : @result_times.find_by(block: 85).own_time_id, id: :block_85 %>
      <%= form.text_field :blocks, name: "block[][86]" , value: @result_times.find_by(block: 86).nil? ? "" : @result_times.find_by(block: 86).own_time_id, id: :block_86 %>
      <%= form.text_field :blocks, name: "block[][87]" , value: @result_times.find_by(block: 87).nil? ? "" : @result_times.find_by(block: 87).own_time_id, id: :block_87 %>
      <%= form.text_field :blocks, name: "block[][88]" , value: @result_times.find_by(block: 88).nil? ? "" : @result_times.find_by(block: 88).own_time_id, id: :block_88 %>
      <%= form.text_field :blocks, name: "block[][89]" , value: @result_times.find_by(block: 89).nil? ? "" : @result_times.find_by(block: 89).own_time_id, id: :block_89 %>
      <%= form.text_field :blocks, name: "block[][90]" , value: @result_times.find_by(block: 90).nil? ? "" : @result_times.find_by(block: 90).own_time_id, id: :block_90 %>
      <%= form.text_field :blocks, name: "block[][91]" , value: @result_times.find_by(block: 91).nil? ? "" : @result_times.find_by(block: 91).own_time_id, id: :block_91 %>
      <%= form.text_field :blocks, name: "block[][92]" , value: @result_times.find_by(block: 92).nil? ? "" : @result_times.find_by(block: 92).own_time_id, id: :block_92 %>
      <%= form.text_field :blocks, name: "block[][93]" , value: @result_times.find_by(block: 93).nil? ? "" : @result_times.find_by(block: 93).own_time_id, id: :block_93 %>
      <%= form.text_field :blocks, name: "block[][94]" , value: @result_times.find_by(block: 94).nil? ? "" : @result_times.find_by(block: 94).own_time_id, id: :block_94 %>
      <%= form.text_field :blocks, name: "block[][95]" , value: @result_times.find_by(block: 95).nil? ? "" : @result_times.find_by(block: 95).own_time_id, id: :block_95 %>
    </div>

    <div >
      <%= form.submit "登録する", class: "submit_button"%>
    </div>
  <% end %>


  <%= form_with model: @project do |form|  %>
    <div class="">
      <%= form.text_field :name, placeholder: "name"%>
      <%= form.text_field :limit_date, placeholder: "limit_date" %>
    </div>

    <div >
      <%= form.submit "登録する", class: "submit_button"%>
    </div>
  <% end %>
</div>

<% if @user.icon.attached? %>
  <%= image_tag @user.icon, height: 100, width: 100 %>
<% else %>
  <%= image_tag "icon/icon.jpg", height: 100, width: 100 %>
<% end %>

<%= form_with model: @user do |form|  %>
  <div class="">
    <%= form.file_field :icon %>
  </div>

  <div >
    <%= form.submit "登録する", class: "btn btn-primary"%>
  </div>
<% end %>

<%= current_user.name %>
<% if current_user.projects.exists? %>
  <% current_user.projects.each do |project| %>
    <% if project.done_flg == 0 %>
      <%= project.name %>
      <%= project.limit_date %>
      <p>残り日数<%= (project.limit_date.to_date - Date.today).round %>日</p>
      <%= form_with model: project do |form| %>
        <%= form.text_field :id, placeholder: "id", value: project.id %>
        <%= form.submit "完了", class: "submit_button"%>
      <% end %>
    <% end %>
  <% end %>
<% end %>

