<script>
  $(document).ready(function() {
    $('select').formSelect();
  });

  $(document).ready(function() {
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd"
    });
  });
</script>

<script>
  $(function() {
    function drawChart() {
      var ctx = document.getElementById("myChart2");
      var Bar = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: gon.label,
          datasets: [{
            label: gon.title,
            backgroundColor: "rgba(0,0,255,0.6)",
            borderColor: "rgba(0,0,80,1)",
            data: gon.statistics_select_time_week
          }]
        },
        options: { //◆オプション
          responsive: true, //グラフ自動設定
          legend: { //凡例設定
            display: false //表示設定
          },
          title: { //タイトル設定
            display: true, //表示設定
            fontSize: 18, //フォントサイズ
            text: gon.title //ラベル
          },
          scales: { //軸設定
            yAxes: [{ //y軸設定
              display: true, //表示設定
              scaleLabel: { //軸ラベル設定
                display: true, //表示設定
                labelString: '時間(h)', //ラベル
                fontSize: 18 //フォントサイズ
              },
              ticks: { //最大値最小値設定
                min: 0, //最小値
                //max: 100,                  //最大値
                fontSize: 18, //フォントサイズ
                stepSize: 5 //軸間隔
              },
            }],
            xAxes: [{ //x軸設定
              display: true, //表示設定
              barPercentage: 0.6, //棒グラフ幅
              categoryPercentage: 0.6, //棒グラフ幅
              scaleLabel: { //軸ラベル設定
                display: true, //表示設定
                labelString: '日付', //ラベル
                fontSize: 18 //フォントサイズ
              },
              ticks: {
                fontSize: 18 //フォントサイズ
              },
            }],
          },
          layout: { //レイアウト
            padding: { //余白設定
              left: 100,
              right: 50,
              top: 0,
              bottom: 0
            }
          }
        }
      });
    }
    drawChart();
  });
</script>

<%= render partial: "template/page_top_main",  locals: {guide_message: "グラフ画面"}%>


<div class='row'>
  <div class="user-icon-area col s10 l10">
    <div class="card-panel">
      <div class='row'>

        <div class="user-icon-area col s5 l5">
          <%= form_with url: chart_path, method: 'get', local: true do |form|  %>
          <%= form.collection_select :select_time_0, @all_select_time, :id, :name %>
          <%= form.text_field :date, placeholder: "1週間前から入力日まで",class: :datepicker , autocomplete: "off"%>
          <%= form.submit "完了", class: "btn"%>
          <% end %>
        </div>
      </div>
      <div class='row'>

        <div class="user-icon-area col s10 l10">

          <canvas id="myChart2"></canvas>
          </dic>
        </div>
      </div>
    </div>
  </div>
</div>