<%= render partial: "template/page_top_main",  locals: {guide_message: "タスク画面"}%>

<div class="row">

  <div class="col s3" id="side">
    <%= render partial: "template/side_navi-setting" %>
  </div>
  <div class="col s9">
    <div class='row'>
      <div class="user-icon-area col s12 l12">

        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a href="#test0">タイムライン</a></li>
              <li class="tab col s3"><a href="#test1">フォロワー</a></li>
              <li class="tab col s3"><a href="#test2">フォロー</a></li>
              <li class="tab col s3"><a href="#test3">ユーザーを探す</a></li>
            </ul>
            <div id="test0" class="col s12">
              <ul class="collection with-header">
                <div class="time-line">
                  <li class="collection-header">
                    <h5>タイムライン</h5>
                  </li>
                  <% @tweets.reverse_each do |tweet| %>
                  <li class="collection-item avatar">
                    <%= link_to user_path(tweet.user.id) do %>
                    <% if tweet.user.icon.attached? %>
                    <%= image_tag tweet.user.icon, height: 30, width: 30, class: :circle %>
                    <% else %>
                    <%= image_tag "icon/icon.jpg", height: 30, width: 30, class: :circle %>
                    <% end %>
                    <span class="title"><%= tweet.user.name %></span>
                    <% end %>
                    <p><%= tweet.record_date %>の入力を行いました。 <br>
                      <%= tweet.text %><br> <%=l tweet.created_at %>
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                  </li>
                  <% end %>
                </div>
              </ul>


            </div>
            <div id="test1" class="col s12">
              <h5>フォローリクエストが届いています</h5>
              <div class="follow-request">
                <table class="highlight centered responsive-table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>名前</th>
                      <th>ボタン</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @request_followers.reverse_each do |follower| %>
                    <tr>
                      <%= form_with url: relationship_path(current_user.id),local: true , method: "PATCH" do |form| %>
                      <%= form.hidden_field :user_id, value: follower.user.id %>
                      <td><%= follower.id %>
                      </td>
                      <td><%= follower.user.name %></td>
                      <td><%= form.submit "承認する", class: "btn-small"%></td>
                      <% end %>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <br>
              <h5>フォロワー</h5>
              <div class="follower">
                <table class="highlight centered responsive-table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>名前</th>
                      <th>ステータス</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @followers.reverse_each do |follower| %>
                    <tr>
                      <%= form_with url: relationship_path(current_user.id),local: true , method: "PATCH" do |form| %>
                      <%= form.hidden_field :user_id, value: follower.user.id %>
                      <td><%= follower.id %>
                      </td>
                      <td><%= follower.user.name %></td>
                      <td>フォローされています</td>
                      <% end %>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div id="test2" class="col s12">
            <h5>フォローリクエスト中</h5>
            <div class="follow-request">
              <table class="highlight centered responsive-table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>名前</th>
                    <th>ステータス</th>
                    <th>ボタン</th>
                  </tr>
                </thead>
                <tbody>
                  <% @users.each do |user| %>
                  <% if current_user.following?(user) %>
                  <% if current_user.get_following_status(user) == 0 %>
                  <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td>
                      承認待ち
                    </td>
                    <td><%= render "relationships/follow_button", class: "btn-small secondary-content", user: user %></td>
                  </tr>
                  <% end %>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <br>
            <h5>フォロー</h5>
            <div class="follower">
              <table class="highlight centered responsive-table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>名前</th>
                    <th>ステータス</th>
                    <th>ボタン</th>
                  </tr>
                </thead>
                <tbody>
                  <% @users.each do |user| %>
                  <% if current_user.following?(user) %>
                  <% if current_user.get_following_status(user) == 1 %>
                  <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td>
                      フォロー中
                    </td>
                    <td><%= render "relationships/follow_button", class: "btn-small secondary-content", user: user %></td>
                  </tr>
                  <% end %>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div id="test3" class="col s12">

            <h5>ユーザー一覧</h5>
            <div class="user-list">
              <table class="highlight centered responsive-table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>名前</th>
                    <th>ステータス</th>
                    <th>ボタン</th>
                  </tr>
                </thead>
                <tbody>
                  <% @users.each do |user| %>
                  <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td>
                      <% if current_user.following?(user) %>
                        <% if current_user.get_following_status(user) == 0 %>
                          承認待ち
                        <% elsif current_user.get_following_status(user) == 1 %>
                          フォロー中
                        <% end %>
                      <% else %>
                        <% if current_user.id == user.id %>
                          自分
                        <% else %>
                          未フォロー
                        <% end %>
                      <% end %>
                    </td>
                    <td><%= render "relationships/follow_button", class: "btn-small secondary-content", user: user %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .icon-image {
    width: 50%;
    cursor: pointer;
    transition-duration: 0s;
  }

  .icon-image:hover {
    opacity: 0.6;
    transition-duration: 0s;
  }

  .tabs .tab a.active {
    background-color: #888;
    color: #000;
  }

  /*Background and text color when a tab is active*/


  .tabs .tab a {
    color: rgba(38, 166, 154, 0.7);
    /*Custom Text Color*/
  }

  .tabs .tab a:hover {
    color: #26a69a;
    background-color: #eee;
    /*Custom Color On Hover*/
  }

  .tabs .tab a:focus.active {
    background-color: #26a69a;
    color: #26a69a;
    /*Custom Text Color While Active*/
    background-color: rgba(38, 166, 154, 0.2);
    /*Custom Background Color While Active*/
  }

  .tabs .indicator {
    background-color: #26a69a;
    /*Custom Color Of Indicator*/
  }
</style>