<%
=begin%>
 <%=begin%>
 TODO:設定を集約 
<%=end%> 
<%
=end%>
<%= render partial: "template/page_top_main",  locals: {guide_message: "入力画面"}%>

<script>
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd"
    });
  });

  $(document).ready(function(){
    $('select').formSelect();
  });
</script>

<!--アイコンここから-->
<p>アイコンの設定</p>
<% if @user.icon.attached? %>
  <%= image_tag @user.icon, height: 100, width: 100 %>
<% else %>
  <%= image_tag "icon/icon.jpg", height: 100, width: 100 %>
<% end %>

<%= form_with model: @user do |form|  %>
  <div class="">
    <%= form.file_field :icon %>
  </div>

  <div >
    <%= form.submit "登録する", class: "btn btn-primary"%>
  </div>
<% end %>
<br><br><br>
<!--アイコンここまで-->

<!--プロジェクトここから-->
<!--TODO:プロジェクトの追加はshow画面からモーダル表示などで行うべきか検討-->
<p>プロジェクトの作成</p>
<%= form_with model: @project, local: true do |form|  %>
  <div class="">
    <%= form.text_field :name, placeholder: "name"%>
    <%= form.text_field :limit_date, placeholder: "limit_date", id: :datepicker, autocomplete: "off"%>
  </div>

  <div >
    <%= form.submit "登録する", class: "submit_button"%>
  </div>
<% end %>
<br><br><br>
<!--プロジェクトここまで-->


<!--own_timeの追加ここから-->
<p>時間種類の追加</p>

<div>
  必須（1）
  <% @select_time1.each do |select_time| %>
  <%= select_time.name %>
  <% end %>
<div>

<div>
  価値（2）
  <% @select_time2.each do |select_time| %>
  <%= select_time.name %>
  <% end %>
<div>

<div>
  錯覚（3）
  <% @select_time3.each do |select_time| %>
  <%= select_time.name %>
  <% end %>
<div>

<div>
  無駄（4）
  <% @select_time4.each do |select_time| %>
  <%= select_time.name %>
  <% end %>
<div>


<%= form_with url: own_times_path, local: true do |form|  %>
  <div class="">
    <%= form.text_field :name, placeholder: "name" %>
    <%= form.select :time_type, [["必須", 1], ["価値", 2], ["錯覚", 3], ["無駄", 5]], include_blank: "分類を選択して下さい" %>
    <%= form.select :shareFlg, [["共有する(他の人と共有し比較ができます)", 0], ["共有しない(共有しない秘密の時間です)", 1]] %>
    <%= form.select :publicLevel, [["公開(他の人からの閲覧を許可)", 0], ["非公開(他の人から閲覧できません)", 1]] %>
    <%= form.select :task_flg, [["習慣", 0], ["タスク(期限あり時間の)", 1]] %>
    <%= form.text_field :estimated_time, placeholder: "見積もり時間（h）" %>
  </div>

  <div >
    <%= form.submit "登録する", class: "submit_button"%>
  </div>
<% end %>
<br><br><br>
<!--own_timeの追加ここまで-->

<!--色の設定ここから-->
<%= form_with model: @user_color, local: true do |form|  %>
  <div>
  <%= form.color_field :color1, value: @initial_value1 %> 
    <label for="head">必須</label>
  </div>

  <div>
  <%= form.color_field :color2, value: @initial_value2 %> 
    <label for="head">価値</label>
  </div>

  <div>
  <%= form.color_field :color3, value: @initial_value3 %> 
    <label for="head">錯覚</label>
  </div>

  <div>
  <%= form.color_field :color4, value: @initial_value4%> 
    <label for="head">無駄</label>
  </div>

  <div >
    <%= form.submit "登録する", class: "submit_button"%>
  </div>
<% end %>
<!--色の設定ここまで-->

<%= link_to user_path(current_user.id) do %>
  <button id = "" , class: "btn btn-primary">入力画面に戻る</button>
<% end %>
