<%= render partial: "template/page_top_main",  locals: {guide_message: "入力画面"}%>

<script>
  $(document).ready(function() {
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd"
    });
  });

  $(document).ready(function() {
    $('select').formSelect();
  });
</script>

<style>
  .icon-image {
    width: 50%;
    cursor: pointer;
    transition-duration: 0s;
  }

  .icon-image:hover {
    opacity: 0.6;
    transition-duration: 0s;
  }
</style>

<div class='row'>
  <div class="user-icon-area col s10 l10">
    <div class="card-panel">
      <p>フォローリクエストが届いています</p>
      <table class="highlight centered responsive-table">
        <thead>
          <tr>
            <th>id</th>
            <th>名前</th>
            <th>ボタン</th>
          </tr>
        </thead>
        <tbody>
          <% @followers.reverse_each do |follower| %>
          <tr>
            <%= form_with url: relationship_path(current_user.id),local: true , method: "PATCH" do |form| %>
            <%= form.hidden_field :user_id, value: follower.user.id %>
            <td><%= follower.id %><td>
            <td><%= follower.user.name %></td>
            <td><%= form.submit "承認する", class: "btn-small"%></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


</div>

<div class='row'>
  <div class="user-icon-area col s10 l10">
    <div class="card">
      <p>ユーザー一覧</p>
      <table class="highlight centered responsive-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>ステータス</th>
            <th>ボタン</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td>
              <% if current_user.following?(user) %>
              <% if current_user.get_following_status(user) == 0 %>
              承認待ち
              <% elsif current_user.get_following_status(user) == 1 %>
              フォロー中
              <% end %>
              <% else %>
              未フォロー
              <% end %>
            </td>
            <td><%= render "relationships/follow_button", class: "btn-small secondary-content", user: user %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--プロジェクトここから-->
<!--TODO:プロジェクトの追加はshow画面からモーダル表示などで行うべきか検討-->
<div class='row'>
  <div class="user-icon-area col s10 l10">
    <div class="card-panel">
      <p>プロジェクトの作成</p>
      <%= form_with model: @project, local: true do |form|  %>
      <div class="">
        <%= form.text_field :name, placeholder: "name"%>
        <%= form.text_field :limit_date, placeholder: "limit_date", class: :datepicker, autocomplete: "off"%>
      </div>

      <div>
        <%= form.submit "登録する", class: "btn"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!--プロジェクトここまで-->


<!--own_timeの追加ここから-->
<div class='row'>
  <div class="user-icon-area col s10 l10">
    <div class="card-panel">
      <p>時間種類の追加</p>

      <div>
        必須（1）
        <% @select_time1.each do |select_time| %>
        <%= select_time.name %>
        <% end %>
      </div>

      <div>
        価値（2）
        <% @select_time2.each do |select_time| %>
        <%= select_time.name %>
        <% end %>
      </div>

      <div>
        錯覚（3）
        <% @select_time3.each do |select_time| %>
        <%= select_time.name %>
        <% end %>
      </div>

      <div>
        無駄（4）
        <% @select_time4.each do |select_time| %>
        <%= select_time.name %>
        <% end %>
      </div>


      <%= form_with url: own_times_path, local: true do |form|  %>
      <div class="">
        <%= form.text_field :name, placeholder: "name" %>
        <%= form.select :time_type, [["必須", 1], ["価値", 2], ["錯覚", 3], ["無駄", 5]], include_blank: "分類を選択して下さい" %>
        <%= form.select :shareFlg, [["共有する(他の人と共有し比較ができます)", 0], ["共有しない(共有しない秘密の時間です)", 1]] %>
        <%= form.select :publicLevel, [["公開(他の人からの閲覧を許可)", 0], ["非公開(他の人から閲覧できません)", 1]] %>
        <%= form.select :task_flg, [["習慣", 0], ["タスク(期限あり、進捗管理ができます)", 1]] %>
        <%= form.text_field :estimated_time, placeholder: "見積もり時間（h）" %>
      </div>

      <div>
        <%= form.submit "登録する", class: "btn"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!--own_timeの追加ここまで-->


<!--アイコンここから-->
<div class='row'>
  <div class="user-icon-area col s2 l2">
    <div class="card-panel">
      <%= form_with model: @user do |form|  %>
      <p>アイコンの設定</p>
      <% if @user.icon.attached? %>
      <%= image_tag @user.icon, height: 100, width: 100 , class: :circle, onClick:"$('#upfile').click()"%>
      <% else %>
      <%= image_tag "icon/icon.jpg", height: 100, width: 100 , class: :circle, onClick:"$('#upfile').click()"%>
      <% end %>

      <div class="">
        <%= form.file_field :icon, style:"display:none;", id:"upfile" %>
      </div>

      <div>
        <%= form.submit "登録する", class: "btn btn-primary"%>
      </div>
      <% end %>
    </div>
  </div>
  <!--アイコンここまで-->

  <!--色の設定ここから-->
  <div class="user-icon-area col s2 l2">
    <div class="card-panel">
      <p>色の設定</p>
      <%= form_with model: @user_color, local: true do |form|  %>
      <div>
        <%= form.color_field :color1, value: @initial_value1 %>
        <label for="head">必須</label>
      </div>

      <div>
        <%= form.color_field :color2, value: @initial_value2 %>
        <label for="head">価値</label>
      </div>

      <div>
        <%= form.color_field :color3, value: @initial_value3 %>
        <label for="head">錯覚</label>
      </div>

      <div>
        <%= form.color_field :color4, value: @initial_value4%>
        <label for="head">無駄</label>
      </div>

      <div>
        <%= form.submit "登録する", class: "btn"%>
      </div>
      <% end %>
    </div>
  </div>
  <!--色の設定ここまで-->